@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

:root {
  --purple: #60506b;
  --orange: rgb(228, 176, 116);
}

* {
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

*::selection {
  background: var(--purple);
  color: #fff;
}

.welcome {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-wrap: wrap;
  }

  .gallery {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-wrap: wrap;
  }