<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<title>Login Page</title>
</head>
<body>
	<h2>Login</h2>
	<div>th:if="${param.error}" Invalid username and password.</div>

	<div>th:if="${param.logout}" You are now logged out</div>

	<form th:action="@{/login} method="post">
		<div>
			<label>Username: <input type="text" name="username"></label>
		</div>

		<div>
			<label>Password: <input type="text" name="password"></label>
		</div>

		<div>
			<input type="submit" value="Sign-in">
		</div>

	</form>


</body>
</html>