<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Bike Builder - About Page</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/styles.css}" />

<script src="https://kit.fontawesome.com/c1734b8f2f.js"
	crossorigin="anonymous"></script>

</head>
<body>
	<!-- MAIN NAV BAR START -->
	<div class="main-nav-bar">
		<nav class="navbar navbar-expand-lg navbar-dark"
			style="background-color: black">
			<div class="container-fluid">
				<a class="navbar-brand text-warning" th:href="@{/welcome}">BikeBuilder</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
					aria-controls="navbarNavDropdown" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" th:href="@{/welcome}">Home</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/about}">About</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/gallery}">Gallery</a></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"> Builder </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/bikes}">All
										Bikes</a></li>
								<li><a class="dropdown-item" th:href="@{/bikes/new}">New
										Build</a></li>
							</ul></li>
					</ul>
				</div>
				<form th:action="@{/logout}" method="post">
					<button type="submit" value="Logout" class="btn btn-warning">
						<i class="fa-solid fa-right-from-bracket"></i> Logout
					</button>
				</form>

			</div>
		</nav>
	</div>
	<!-- MAIN NAV BAR END -->

	<!-- MAIN CONTAINER START -->
	<section class="about">
		<div class="container-sm" style="background:  rgba(0%, 0%, 0%, 0.70);">
		<br>
			<h1 style="color: rgb(255, 193, 7); text-align: center;">What is BikeBuilder?</h1>
			<h5 style="color: white;">
				With so many components in existence within the mountain biking
				universe, it can be overwhelming to choose the right part
				for your build.
			</h5>
			<h5 style="color: white;">BikeBuilder takes the guess work out
				of compatibility by comparing parts and ensuring compatibility requirements are met
				throughout the entire build process.</h5>
				<h1 style="color: rgb(255, 193, 7); text-align: center;"><i class="fa-solid fa-bolt"></i></h1>
				<h2 style="color: white; text-align: center;">Fast & Efficient Build Process</h2><br>
				<h1 style="color: rgb(255, 193, 7); text-align: center;"><i class="fa-solid fa-gears"></i></h1>
				<h2 style="color: white; text-align: center;">Automatic Compatibility Checking</h2><br>
				<h1 style="color: rgb(255, 193, 7); text-align: center;"><i class="fa-solid fa-hand-holding-dollar"></i></h1>
				<h2 style="color: white; text-align: center;">Cost Comparison for Lowest Price</h2>
				<br>
		</div>
	</section>
	<!-- MAIN CONTAINER END -->


</body>
</html>
