<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Bike Builder - New Bike</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/styles.css}" />

<script src="https://kit.fontawesome.com/c1734b8f2f.js"
	crossorigin="anonymous"></script>

</head>
<body>
	<!-- MAIN NAV BAR START -->
	<div class="main-nav-bar">
		<nav class="navbar navbar-expand-lg navbar-dark"
			style="background-color: black">
			<div class="container-fluid">
				<a class="navbar-brand text-warning" th:href="@{/welcome}">BikeBuilder</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
					aria-controls="navbarNavDropdown" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" th:href="@{/welcome}">Home</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/about}">About</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/gallery}">Gallery</a></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"> Builder </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/bikes}">All
										Bikes</a></li>
								<li><a class="dropdown-item" th:href="@{/bikes/new}">New
										Build</a></li>
							</ul></li>
					</ul>
				</div>
				<form th:action="@{/logout}" method="post">
					<button type="submit" value="Logout" class="btn btn-warning">
						<i class="fa-solid fa-right-from-bracket"></i> Logout
					</button>
				</form>

			</div>
		</nav>
	</div>
	<!-- MAIN NAV BAR END -->


	<section class="new">
		<div class="container">
			<br> <br>
			<div class="row">
				<div
					class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
					<br>
					<h1 class="text-center">Create New Bike</h1>
					<div class="card-body">
						<form th:action="@{/bikes}" th:object="${bike}" method="POST">

							<label> Bike Frame </label> <select id="frame" name="bikeFrame"
								class="form-control" onchange="getForks()">
								<option>Select an option...</option>
								<option th:each="frame:${frames}" th:value="${frame.id}"
									th:text="${frame.brand +' '+ frame.model + ': $' + frame.cost}"></option>
							</select> <label> Bike Fork </label> <select id="fork" name="bikeFork"
								class="form-control" onchange="getComponents()">
								<option>Select an option...</option>

							</select> <label> Bike Drive Train </label> <select id="driveTrain"
								name="bikeDriveTrain" class="form-control">
								<option>Select an option...</option>

							</select> <label> Bike Brakes </label> <select id="brake" name="bikeBrake"
								class="form-control">
								<option>Select an option...</option>

							</select> <label> Bike Wheel Set </label> <select id="wheelSet"
								name="bikeWheelSet" class="form-control">
								<option>Select an option...</option>

							</select> <br>
							<div class="box-footer">
								<button type="submit" class="btn btn-warning">Submit</button>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript" th:src="@{/js/create_script.js}"
		src="../static/js/create_script.js"></script>

</body>
</html>